annotated-doc
annotated-types
anyio
certifi
click
dnspython
email-validator
fastapi
fastapi-cli
fastapi-cloud-cli
fastar
h11
httpcore
httptools
httpx
idna
jinja2
markdown-it-py
markupsafe
mdurl
pydantic
pydantic-core
pydantic-extra-types
pydantic-settings
pygments
python-dotenv
python-multipart
pyyaml
rich
rich-toolkit
rignore
sentry-sdk
shellingham
starlette
typer
typing-extensions
typing-inspection
urllib3
uvicorn
uvloop
watchfiles
websockets
