annotated-types
aws-msk-iam-sasl-signer-python
blinker
boto3
botocore
click
flask
flask-pydantic
itsdangerous
jinja2
jmespath
kafka
kafka-python
markupsafe
pydantic
pydantic-core
python-dateutil
s3transfer
six
typing-extensions
typing-inspection
urllib3
werkzeug
